.row.content-wrapper
	.small-9.columns
		%h2 Find a Jam Session
		%br/
		- @jams.each do |jam|
			%h4= link_to jam.title, jam
			%p
				= jam.comments.count
				Comment(s)
	.small-3.columns
		%br/
		%ul Find by Genre:
		%li= link_to "All Genres", root_path
		- Genre.all.each do |genre|
			%li= link_to genre.name, jams_path(genre: genre.name)
	





