/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

@import "foundation_and_overrides";

$green       : #9bffa6;
$lightgray	 : #f2f2f2;
$darkgrey	 : #29252c;


/* General Layout */
body {
	font-family: Helvetica, sans-serif;
	font-weight: 300;
}

.row {
	border-radius: 8px;
}

.content-wrapper {
	background: $lightgray;
	padding: 14px;
}

#notice-wrapper {
	position: absolute;
	width: 100%;
	z-index: 999;
	top: 0;
	background: $green;
	opacity: 0.85;
	.alert, .notice {
		text-align: center;
	    padding: 1.55rem 0;
	    margin: 0;
	    font-weight: 500;
	    color: #444444;
	    font-size: 1.2rem;
	    letter-spacing: 1px;
	}
}

.logo {
		display: block;
		float: left;
		background: url('/images/logo_hi_res.png') no-repeat;
		background-size: 100%; 
		width: 190px;
		height: 38px;
		margin: 0.4rem 1.2rem;
}

/* Home Content */

.home-overlay {
	position: fixed;
    background: #fff;
	top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transition: background .5s ease-out;
  	-moz-transition: background .5s ease-out;
  	-o-transition: background .5s ease-out;
  	transition: background .5s ease-out;
  	.home-header {
  		position: absolute;
  		background-position: bottom;
  		top:0;
  		left: 0;
  		background: url('/images/home_header.jpg') 100% no-repeat;
  		background-size: cover;
  		width: 100%;
  		height: 500px;
  	}
	.welcome-back {
		position: relative;
		z-index: 9999 !important;
		width: 700px;
		height: 300px;
		margin: 11rem auto;
		text-align: center;
		h1 {
			font-size: 2.6rem;
			font-weight: 500;
			letter-spacing: 2px;
			color: #fff;
		}
		.button {
			padding: 1rem 1.50rem;
			border-radius: .3rem;
			border: 1px solid #ccc;
			outline: none;
			background: white;
			color: #9B9B9B;
			margin: 0.8rem 1rem;
			font-size: 1.5rem
		}

		.button:hover {
			background: $green;
			color: #222;
		}
		.home-sign-out {
			position: fixed;
			right: 1rem;
			top: 0.5rem;
			a {
				color: #fff
			}
			a:hover {
				color: $green;
			}
		}
	}
}

/* Overlay Pop-up */

.overlay {
	position: fixed;
    background: rgba(0,0,0,0.85) 0%;
	top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transition: background .5s ease-out;
  	-moz-transition: background .5s ease-out;
  	-o-transition: background .5s ease-out;
  	transition: background .5s ease-out;
  	h1,h2,h3,h4,h5,h6 {
  		color: #ccc;
  	}
  	.overlay-box {
  	width: 100%;
  	height: 70%;	
	margin: 110px auto;
  	}
  	label {
  		color: #ccc;
  	}
  	.logo {
  		display: block;
  		background: url('/images/logo_hi_res.png') no-repeat;
  		background-size: 100%; 
  		width: 400px;
  		height: 83px;
  		margin-bottom: 30px;
  	}
  	a{
  		color: $green;
  	}
  	a:hover {
  		color: $green;
  	}
  	li {
  		list-style: square;
  	}
}

.close-overlay {
	position: fixed;
	top: 20px;
	right: 20px;
	color: #fafafa !important
}

.close-overlay:hover {
	color: $green !important;
}

/* Global Elements */

a {
	color: #333147;

}

a:hover {
	color: #ccc;
}

ul {
	margin-left: 0
}

li {
	list-style: none
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button, button, html input[type="button"], input[type="reset"], input[type="submit"] {
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	border: 1px solid #ccc;
	outline: none;
	background: white;
	color: #9B9B9B;
	margin: 0 1rem 1rem 0;
}

.button:hover, button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{
	background: $green;
	color: #222;
}

/* Header */

header {
	width: 100%;
	height: 80px;
	padding: 1rem 1rem;
	border-bottom: 1px solid #E4E4E4;
	background: #29252c;
	.button {
			margin-right: 0;
		}
	.header-wrapper {
		width: 80%;
		margin: 0 auto;
	}
	p {
		color: #ccc;
		}
	nav {
		float: right;
		a {
			margin-left: 0.2rem;
			line-height: 1.2;
			color: #ccc;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
		a:hover {
			color: $green;
		}
		.nav-user {
			color: $green;
		}	
	.button {
		padding: .7rem 1.25rem;
		border: none;
		border-radius: .3rem;
		outline: none;
		background: white;
		color: #9B9B9B;
		margin: 0 1rem;
		}

	.button:hover {
		background: $green;
		color: #222;
		}	
	}
}

/* Profile */

.edit {
	float: right;
}

/* Comments */

#comments {
	padding-bottom: 4rem;
	width: 80%;
	.comment_count {
		border-bottom: 1px solid #E9E9E9;
		padding-bottom: .5rem;
		margin-bottom: 0;
	}
	.comment {
		padding: 2rem 0;
		border-bottom: 1px solid #E9E9E9;
		padding-left: 5%;
		.username {
			font-size: 1.3rem;
			color: #333233;
			margin: 0 0 .5rem 0;
		}
		.content {
			margin: 0;
			color: #969696;
		}
	}
	.comment_content {
		margin-top: 2.5rem;
		textarea {
			width: 80%;
			margin: 1rem 0;
			min-height: 150px;
			border: 1px solid #E4E4E4;
			background: #F8F9FA;
			border-radius: 0.3rem;
		}
	}
}

/* Footer */
footer {
	width: 100%;
	height: 40px;
	padding: 15px;
	border-top: 1px solid #eeeeee;
	margin: 20px 0 0 0;
	.logo {
		display: block;
		float: left;
		background: url('/images/logo_hi_res_footer.png') no-repeat;
		background-size: 100%; 
		width: 150px;
		height: 30px;
		margin-bottom: 30px;
		}
	nav {
		float: right;
		a {
			margin-left: 12px;
			font-size: 0.8rem
		}
	}
}



