/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

@import "foundation_and_overrides";

$green       : #9bffa6;
$lightgray	 : #f5f5f5;
$darkgrey    : #29252c;
$white			 : #ffffff;
$pink				 : #eb1478;


/* General Layout */
body {
	font-family: Helvetica, sans-serif;
	font-weight: 300;
}

.row {
	border-radius: 8px;
}

.content-wrapper {
	background: $lightgray;
	padding: 14px;
	h2 {
		color: #333046;
	}
}

.small-9 {
	border-right: 1px solid #dddddd;
}

#notice-wrapper {
	position: fixed;
	width: 100%;
	z-index: 99999;
	top: 0;
	background: $green;
	opacity: 0.85;
	.alert, .notice {
		text-align: center;
	    padding: 0.94rem 0;
	    margin: 0;
	    font-weight: 500;
	    color: #444444;
	    font-size: 1.2rem;
	    letter-spacing: 1px;
	}
}

.logo {
		display: block;
		float: left;
		background: url('/images/logo_hi_res.png') no-repeat;
		background-size: 100%; 
		width: 190px;
		height: 38px;
		margin: 0 1.2rem;
		margin-left: 0;
}

.profile-pic {
	border-radius: 50%;
	border: 4px solid $white;
}

.edit-profile-pic {
	width: 100px;
	border-radius: 50%;
}

.header-profile-pic {
	width: 30px;
	border-radius: 50%;
	margin-right: 4px;
}
.header-profile-pic:hover {
	border: 1px solid $green;
}

/* Home Content */

.home-overlay {
	position: absolute;
    background: #fff;
    margin-top: -20px;
	top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transition: background .5s ease-out;
  	-moz-transition: background .5s ease-out;
  	-o-transition: background .5s ease-out;
  	transition: background .5s ease-out;
  	.home-header {
  		position: absolute;
  		background-position: bottom;
  		top:0;
  		left: 0;
  		background: url('/images/home_header.jpg') 100% no-repeat;
  		background-size: cover;
  		width: 100%;
  		height: 500px;
  		.logo {
  			margin-left: 0.8rem;
  			margin-top: 0.4rem;
  		}
  	}
	.welcome {
		position: relative;
		z-index: 9999 !important;
		width: 700px;
		height: 300px;
		margin: 11rem auto 0;
		text-align: center;
		h1 {
			font-size: 2.6rem;
			font-weight: 500;
			letter-spacing: 2px;
			color: #fff;
		}
		span {
			color: $green;
		}
		.button {
			padding: 1rem 1.50rem;
			border-radius: .3rem;
			border: 1px solid #ccc;
			outline: none;
			background: white;
			color: #9B9B9B;
			margin: 0.8rem 1rem;
			font-size: 1.5rem;
			-webkit-transition: 0.25s all;
	    -moz-transition: 0.25s all;
	    -ms-transition: 0.25s all;
	    -o-transition: 0.25s all;
	    transition: 0.25s all;
		}

		.button:hover {
			background: $green;
			color: #222;
		}
		.home-login {
			color: $green;
		}
		.home-sign-out {
			position: fixed;
			right: 1rem;
			top: 0.5rem;
			a {
				color: #fff
			}
			a:hover {
				color: $green;
			}
		}
	}
}

/* Why Jam? */
.why-jam {
	position: relative;
	width: 100%;
	height: 500px;
	background: $white;
	padding-top: 40px;
	h1 {
		text-align: center;
		margin-top: 60px;
	}
	p {
		color: $darkgrey;
	}
	.home-guitar {
		width: 474px;
		height: 365px;
		background: url('http://www.angliancarpentry.co.uk/blog/img/band.png') no-repeat;
		background-size: cover;
	}
}

/* How it Works */
.how-it-works {
	position: relative;
	width: 100%;
	height: 550px;
	background: $lightgray;
	padding-top: 20px;
	h1 {
		text-align: center;
		font-size: 4rem
	}
	h4 {
		text-align: center;
		padding-top: 1rem;
	}
}

/* Login Pop-up */

.overlay {
	position: fixed;
    background: rgba(0,0,0,0.85) 0%;
	top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transition: background .5s ease-out;
  	-moz-transition: background .5s ease-out;
  	-o-transition: background .5s ease-out;
  	transition: background .5s ease-out;
  	h1,h2,h3,h4,h5,h6 {
  		color: #ccc;
  	}
  	.overlay-box {
  	width: 100%;
  	height: 70%;	
		margin: 90px auto;
  	}
  	label {
  		color: #ccc;
  	}
  	.skill-form {
  		background: $green;
  		color: $darkgrey;
  	}
  	.logo {
  		display: block;
  		background: url('/images/logo_hi_res.png') no-repeat;
  		background-size: 100%; 
  		width: 400px;
  		height: 83px;
  		margin-bottom: 30px;
  	}
  	a{
  		color: $green;
  	}
  	a:hover {
  		color: $green;
  	}
  	li {
  		list-style: square;
  	}
  	.button {
  		color: $darkgrey;
  		border: none;
  		-webkit-transition: 0.25s all;
	    -moz-transition: 0.25s all;
	    -ms-transition: 0.25s all;
	    -o-transition: 0.25s all;
	    transition: 0.25s all;
  	}
  	.button:hover {
  		color: $darkgrey;
  	}
}

.close-overlay {
	position: fixed;
	top: 20px;
	right: 20px;
	color: #fafafa !important
}

.close-overlay:hover {
	color: $green !important;
}

/* Global Elements */

a {
	color: #333147;

}

a:hover {
	color: #ccc;
}

ul {
	margin-left: 0
}

li {
	list-style: none
}

.wrapper {
	width: 80%;
	padding: 0 .8rem;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button, button, html input[type="button"], input[type="reset"], input[type="submit"] {
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
	margin: 0 1rem 1rem 0;
	-webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
}

.button:hover, button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{
	background: $green;
	color: #222;
}

.button:active, button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active{
	background: $green;
	color: #222;
}

.button:visited, button:visited, html input[type="button"]:visited, input[type="reset"]:visited, input[type="submit"]:visited{
	background: $green;
	color: #222;
}

/* Header */

header {
	position: fixed;
	margin-bottom: 100px;
	z-index: 999;
	top: 0;
	width: 100%;
	height: 60px;
	padding: 0.45rem 1rem;
	background: #29252c;
	.button {
			margin-right: 0;
		}
	.header-wrapper {
		width: 80%;
		margin: 0 auto;
	}
	p {
		color: #ccc;
		}
	nav {
		float: right;
		padding-top: 0.1rem;
		a {
		margin: 0 0 0 0.4rem;
		color: #ccc;
		text-decoration: none;
		&:hover {
			color: #50A7C7;
		}
	}
		a:hover {
			color: $green;
		}
	}
}

.nav-username {
	float: right;
	padding: 0.4rem;
	.nav-user {
			color: $green;
		}	
}

.nav-menu {
	float: right;
	.button {
	padding: .7rem 1.25rem;
	border: none;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
	margin: 0 1rem;
	-webkit-transition: 0.25s all;
  -moz-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -o-transition: 0.25s all;
  transition: 0.25s all;
	}
	.button:hover {
		background: $green;
		color: #222;
	}		
}

.f-dropdown {
	width: 130px;
	max-width: 130px;
	a:hover {
		color: $darkgrey;
	}
}

/* Sub-Header */

.sub-header {
	width: 100%;
	height: 250px;
	margin: 0;
	margin-top: 60px;
	background: url('/images/subheader.jpg');
	background-size: cover;
	h2 {
		text-align: center;
		font-size: 2.2rem;
		color: white;
		padding: 5rem 0;
		span {
			background-color: $green;
			color: $darkgrey;
			padding: 0.3rem 0.8rem;
			font-size: 1.8rem;
		}
	}
}

/* New Jam */

#jam_information {
	height: 150px;
}

/* Jam Results */

.spacing {
	margin-top: 80px;
}

.results-box {
	  margin: 1rem 1rem 0.5rem 1rem;
	  width: 30%;
	  float: left;
	  padding: 0.8rem;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	  border-radius: 7px;
	  text-align: center;
	  background: $white;
	  h4 a {
	  	font-size: 1.2rem;
	  	font-weight: bold;
	  	color: #333046;
	  }
	  .button {
	  	margin-top: 15px;
	  	background: #eb1478;
	  	color: #eeeeee
	  }

	  .button:hover {
			background: #f1378d;
	  }
	  p.genre {
	  }
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  .text {
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
    }
}

.results-box:hover {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.filter-box {
	padding: 0 1rem 1rem;
	background: $lightgray;
	margin: 2rem auto;
	border-radius: 7px;
	.genre-tags {
		padding: .6rem .6rem;
		background: #333046;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px 5px 0;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.75rem;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: 0.25s all;
    -moz-transition: 0.25s all;
    -ms-transition: 0.25s all;
    -o-transition: 0.25s all;
    transition: 0.25s all;
	}
	.genre-tags:hover {
		background: $green;
		color: #333046;
	}
}

.wrapper {
	.button {
		background: $lightgray
	}
}

/* Musicians List */

.musicians {
	float: left;
	padding: 1rem 2rem;
	text-align: center;
	img {
		border-radius: 50%;
		width: 130px;
	}
}

/* Jam Profile */

.jam-elements {
	margin-top: 1rem;
}

/* Profile */

.edit {
	float: right;
}

.form-inputs {
	.large-5 {
		padding: 0 40px;
	}
}

#user_bio {
	height: 300px;
}

.user_bio {
	margin-top:40px;
}

#user_styles, #user_influences, #user_equipment {
	margin-bottom: 1.2rem;
	height: 140px;
}

#user_current_password {
	background: $green;
}

.hint {
		font-size: 0.8rem
	}

.form-actions {
	.btn {
		float: right;
		margin: 40px;
		font-size: 1.5rem;
	}
}

.cancel-account {
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	float: right;
	width: 250px;
	a {
		color: #F64747;
	}
	p {
		margin-bottom: 0;
	}
}

/* Comments */

.comments-box {
	border-left: 1px solid $white;
	padding: .5rem 1.5rem;
}

#comments {
	padding-bottom: 2rem;
	height: 500px;
	background: $white;
	overflow-y: scroll;
    overflow-x: hidden;
	width: 100%;
	.comment-count {
		border-bottom: 1px solid #E9E9E9;
		padding-bottom: .5rem;
		margin-bottom: 0;
		}
	.comment {
		padding: 1rem 0;
		border-bottom: 1px solid #E9E9E9;
		padding-left: 5%;
		.userbox {
			height: 3rem;
			font-size: .9rem;
			color: #333233;
			.username {
				font-size: 0.8rem;
				font-weight: bold;
				.comment-delete {
					border: 1px solid $darkgrey;
					padding: 0 .3rem;
					border-radius: 50%;
					float: right;
					margin-right: 1rem;
					font-size: .8rem
				}
			}
			.mini-avatar {
			border-radius: 50%;
			width: 44px;
			float: left;
			margin-right: 1rem;
			}
		}
		.content {
			margin-left: 4.2rem;
			margin-top: 1rem;
			font-size: 1rem
		}
	
	}
}
.comment_content textarea {
		height: 100px;
}

/* Footer */
footer {
	width: 100%;
	height: 40px;
	padding: 15px;
	border-top: 1px solid #eeeeee;
	margin: 20px 0 0 0;
	.logo {
		display: block;
		float: left;
		background: url('/images/logo_hi_res_footer.png') no-repeat;
		background-size: 100%; 
		width: 150px;
		height: 30px;
		margin-bottom: 30px;
		}
	nav {
		float: right;
		a {
			margin-left: 12px;
			font-size: 0.8rem
		}
	}
}

.breadcrumbs {
	background: $white;
	border: none;
	a {
		color: #a9a9b0;
	}
	a:hover {
		color: $darkgrey;
	}
}